:root {
    --primary-color: #071A1E;
    --secondary-color: #39D6DE;
    --linear-btn-color: linear-gradient(to bottom, #328080, #2E5974);
    --text-white: #eee;
}

@font-face {
    font-family: 'poppins-light';
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}
@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'poppins-medium';
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
}
@font-face {
    font-family: 'poppins-semibold';
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}


/* Default style */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--primary-color) !important;
    font-family: 'poppins-regular' !important;
    color: var(--text-white) !important;    
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'poppins-bold';
}

p {
    font-family: 'poppins-light';
    color: #ccc !important;
}

.accordion .accordion-item {
    background-color: var(--primary-color) !important;
}

.accordion .accordion-item .accordion-body {
    color: #ccc !important;
    font-size: 12px;
}

.accordion .accordion-button {
    color: var(--secondary-color) !important;
    background-color: rgba(57, 214, 221, .2) !important;
    font-family: 'poppins-semibold';
    font-size: 12px;
}

.accordion .accordion-button::after {
    display: none !important;
}

.accordion .accordion-button.collapsed .chevron-icon {
    transform: rotate(180deg);
}

.accordion .accordion-button .chevron-icon {
    transform: rotate(0);
    transition: all .3s ease;
}

.custom-button {
    background: var(--linear-btn-color);
    border: 0;
    padding: 12px 50px;
    color: var(--text-white);
    border-radius: 8px !important;
    transition: all .3s ease;
}

.custom-button:hover {
    opacity: .8;
}

.custom-button:focus {
    outline: rgba(50,128,128,0.3) solid 5px !important;
}

.title-text .small-text {
    color: var(--secondary-color) !important;
    font-family: 'poppins-semibold';
}

.title-text .small-text::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 1px;
    background-color: var(--secondary-color);
    margin-right: 6px;
    position: relative;
    bottom: 5px;
}

.title-text .big-text {
    margin-top: -10px;
}

.description-text {
    font-size: 12px;
}

section {
    padding-top: 100px;
    margin-top: 100px;
}

a {
    color: var(--text-white) !important;
    text-decoration: none !important;  
    transition: all .2s ease;
}

a:hover {
    color: var(--secondary-color) !important;
}

a.link-text:hover {
    border-bottom: 1px solid var(--secondary-color) !important;
}

.swiper .swiper-pagination {
    position: relative;
}

.swiper .swiper-pagination .swiper-pagination-bullet {
    width: 10px; 
    height: 10px; 
    background: rgba(57,214,222,.1); 
    border: 1px solid var(--secondary-color); 
    opacity: 1;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
    width: 30px; 
    transition: width 0.5s; 
    border-radius: 5px; 
    background: var(--secondary-color); 
    border: 1px solid transparent;
}

/* Navigation style */
.navbar {
    width: 100%;
    transition: all .3s ease;
}

.navbar.active {        
    background: rgba(57,214,222, 0.05);
    box-shadow: 0 4px 30px rgba(7, 26, 30, 0.01);
    backdrop-filter: blur(4.1px);
}

.navbar .navbar-nav .nav-item {
    margin-right: 2rem;
}

.navbar .navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar .navbar-nav .nav-link {
    font-size: 14px !important;
}

/* Header style */
header {
    padding-top: 150px;
}

header .left-panel .big-text {
    font-size: 54px;
}

/* Study Materials Style */
#study-materials .left-panel .matkul-group .number {
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    width: 35px;
    font-family: 'poppins-semibold';
    padding: 5px 11px;
    height: 35px;
    background-color: rgba(57,214,222,.1);
}

#study-materials .left-panel .matkul-group .number.one {
    padding: 4px 14px !important;
}

/* Work Prospects Style */
#work-prospects .work-prospect-card {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    transition: all .3s ease;
}

#work-prospects .work-prospect-card:hover {
    background-color: rgba(57,214,222,.05);
    border: 1px solid var(--secondary-color);
}

#work-prospects .work-prospect-card .left-panel {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    padding: 8px;
    background: var(--linear-btn-color);
}

#work-prospects .work-prospect-card .right-panel h3 {
    font-size: 20px;
    font-family: 'poppins-semibold';
}

#work-prospects .work-prospect-card .right-panel p {
    font-size: 12px;
}

/* Required Skills Style */
#required-skills .required-skills-card {
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(57,214,222,.05);
    border: 1px solid var(--secondary-color);
}

#required-skills .required-skills-card .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 8px 11px;
    background: var(--primary-color);
}

#required-skills .required-skills-card .text h3 {
    font-size: 20px;
    font-family: 'poppins-semibold';
    margin: 10px 0;
}

#required-skills .required-skills-card .text p {
    font-size: 12px;
}

/* Famous Figures Style */
#famous-figures .famous-figures-card {
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(57,214,222,.05);
    border: 1px solid var(--secondary-color);
}

#famous-figures .famous-figures-card .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 8px 11px;
    background: var(--primary-color);
}

#famous-figures .famous-figures-card .text h3 {
    font-size: 20px;
    font-family: 'poppins-semibold';
}

#famous-figures .famous-figures-card .text p {
    font-size: 12px;
}

#famous-figures .famous-figures-card .figure-img img {
    border-radius: 4px;
}

#famous-figures .famous-figures-card .figure-link {
    font-size: 12px;
    color: var(--secondary-color) !important;
}

footer {
    margin-top: 200px;
    background-color: rgba(57,214,222,.03);
    padding-top: 30px;
    padding-bottom: 10px;
}

footer .footer-text {
    font-size: 12px;
    color: var(--secondary-color) !important;
    font-family: 'poppins-medium';
}

footer .social-group .social-link {
    transition: all .3s ease;
}

footer .social-group .social-link:hover {
    transform: translateY(-5px);
}


/* Responsive for max width 1280px */
@media (max-width: 1280px) {
    header .left-panel .big-text {
        font-size: 44px;
    }
    header .left-panel .desc-text {
        font-size: 14px;
    }

    .title-text .big-text {
        font-size: 24px;
    }

    #work-prospects .work-prospect-card .right-panel h3 {
        font-size: 0.95em;
    }
}

/* Responsive for max width 992px */
@media (max-width: 992px) {
    .navbar.active {        
        background: rgba(57,214,222, 0.08);
        box-shadow: 0 4px 30px rgba(7, 26, 30, 0.01);
        backdrop-filter: blur(3.5px);
    }
}

/* Responsive for max width 884px */
@media (max-width: 884px) {
    header .left-panel .big-text {
        font-size: 44px;
    }
    header .left-panel .desc-text {
        font-size: 14px;
    }
    header .right-panel {
        display: none;
    }

    section {
        flex-direction: column;
    }
    section .description-text {
        font-size: 10px;
    }

    .title-text .small-text {
        font-size: 10px;
    }

    .title-text .big-text {
        font-size: 20px;
    }

    #work-prospects .work-prospect-card .right-panel h3 {
        font-size: 0.95em;
    }

}

/* Responsive for max width 430px */
@media (max-width: 430px) {
    header .left-panel .big-text {
        font-size: 32px;
        margin-bottom: -20px;
    }
    header .left-panel .desc-text {
        font-size: 12px;
    }

    section {
        margin-top: 0;
    }

    .accordion .accordion-button {
        font-size: 12px !important;
    }
    .accordion .accordion-body {
        font-size: 10px !important;
    }

    .custom-button {
        font-size: 10px !important;
        padding: 12px 30px;
    }

    #study-materials .left-panel .matkul-group .number {
        font-size: 12px;
        width: 25px !important;
        height: 25px !important;
        padding: 2px 7px;
    }

    #study-materials .left-panel .matkul-group .number.one {
        padding: 2px 8px !important;
    }

    #study-materials .left-panel .matkul-group .link a {
        font-size: 12px;
    }
}